@font-face {
  font-family: 'poppinsregular';
  src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'), url('../fonts/poppins-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'poppinssemibold';
  src: url('../fonts/poppins-semibold-webfont.woff2') format('woff2'), url('../fonts/poppins-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@-webkit-keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
/*--------------------------------------------
Grid Framework
----------------------------------------------*/
body {
  font-family: 'Rubik', sans-serif !important;
}
a:hover {
  text-decoration: none !important;
}
a:focus,
a:hover {
  color: #df0e0e;
}
@media (min-width: 992px){
  .container {
      width: 100% !important;
      max-width: 1430px !important;
  }
}
.nav-menu .list-inline li {
  padding: 0 19px;
}
.nav-menu li a {
  text-transform: none;
  text-decoration: none;
}
.nav-menu li a:hover {
  color: #df0e0e !important;
}
.nav-menu li.last:hover {
  -webkit-animation-name: hvr-wobble-horizontal;
  animation-name: hvr-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  color: #fff !important;
}
.nav-menu li.last:hover a {
  color: #fff !important;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
  font-size: 0;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  vertical-align: top;
  float: none;
  width: 100%;
  font-size: 14px;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
@media (min-width: 768px) {
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 992px) {
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 1200px) {
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
}
.hidden {
  display: none !important;
}

html,
body {
  overflow-x: hidden;
}
@media only screen and (min-width: 992px) {
  [class*="col"] {
    margin-bottom: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1200px) {
  [class*="col"] {
    margin-bottom: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
  }
  .boxed {
    max-width: 1200px;
    margin: auto;
  }
}
/*--------------------------------------------------------------
Reset
--------------------------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
html {
  overflow-y: scroll;
  /* Keeps page centered in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
*,
*:before,
*:after {
  /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
  -webkit-box-sizing: border-box;
  /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
  -moz-box-sizing: border-box;
  /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background: #fff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  font-weight: normal;
  text-align: left;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
a:focus {
  outline: none;
}
a:hover,
a:active {
  outline: 0;
}
a img {
  border: 0;
}
/*--------------------------------------------
Initial Setup
----------------------------------------------*/
a {
  text-decoration: none;
}
input:focus,
textarea:focus {
  outline: none;
}
img,
video {
  max-width: 100%;
  vertical-align: top;
}
audio,
canvas,
video {
  display: inline;
  zoom: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/*--------------------------------------------
General
----------------------------------------------*/
a,
a:visited {
  cursor: hand;
  cursor: pointer;
}
/*--------------------------------------------
Combo CSS
----------------------------------------------*/
.clr:before,
.clr:after {
  content: " ";
  display: table;
}
.clr:after {
  clear: both;
}
.icf {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
.tran,
a,
.mfp-fade.mfp-bg,
.mfp-fade.mfp-wrap .mfp-content {
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/*--------------------------------------------
Popup Effects
----------------------------------------------*/
/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}
/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
/*--------------------------------------------------------------
Common
--------------------------------------------------------------*/
.site {
  overflow: hidden;
}
body {
  text-align: center;
}
.action {
  background-color: #303030;
  padding: 50px 0;
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: 2px;
}

.demo .coming > a{
  display: block;
  position: relative;
  pointer-events: none;
}
.demo .coming h3{
  text-align: center;
}
.demo .coming h3 a{
  pointer-events: none;
  float: none !important;
}
.demo .coming > a:before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0.4;
  z-index: 2;
  border-radius: 0 0 3px 3px;
}
.not-done{
  display: block;
  pointer-events: none;
}
.not-done .border_tool,
.not-done .demo__content{
  opacity: 0.2;
}
.demo.shop{
  background: #fff;
}
.demo.shop,
.demo.product,
.demo.feauter {
  padding-top: 102px;
  padding-bottom: 125px;
}
.demo.product{
  background: #f9f9f9 !important;
  border: 1px solid #ebebeb;
  border-left: 0;
  border-right: 0;
}
.demo.product .border_tool{
      border-radius: 12px 12px 0 0;
}
.demo.product .demo__content{
    height: 30vh;
    background-size: 100%;
    background-repeat: no-repeat;
}

.demo.feauter {
  padding-bottom: 70px;
  background: #fff;
}
.demo.shop .demo__content{
  height: 32vh;
}
.demo.shop .content-text h2 {
  margin-bottom: 27px;
}
.demo.product .content-text h2 {
  margin-bottom: 25px;
}
.demo.feauter .content-text h2 {
  margin-bottom: 27px;
}
.demo.feauter .container .row > div{
    min-height: 305px;
}
.demo.shop .text,
.demo.product .text {
    color: #222;
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
    display: inline-block;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: none;
}
.demo.shop .text:hover,
.demo.product .text:hover{
  color: #ff9400;
}
.demo.product .content-text {
  margin-bottom: 74px;
}
.demo__content,
.demo__content {
  box-shadow: 0px 15px 40px 0px rgba(18, 46, 73, 0.1);
  -webkit-box-shadow: 0px 15px 40px 0px rgba(18, 46, 73, 0.1);
  -ms-box-shadow: 0px 15px 40px 0px rgba(18, 46, 73, 0.1);
  -o-box-shadow: 0px 15px 40px 0px rgba(18, 46, 73, 0.1);
}
.demo.feauter .content-text h2{
  font-size: 30px;
  margin-top: -7px;
  margin-bottom: 17px;
}
.demo .content-text h2 {
  font-size: 36px;
  color: #222222;
  font-weight: 500;
  text-transform: none;
  line-height: 1;
  margin-bottom: 23px;
}
.demo .content-text p {
  font-weight: 500;
  font-size: 14px;
  color: #666666;
  line-height: 30px;
}
.demo__content {
  border-top: 0;
  margin-bottom: 35px;
  position: relative;
  background-size: cover; 
  background-repeat: no-repeat;
  border-radius: 20px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  border: 1px solid #ebebeb;
  background-position: center center;
}
.blog-quickview{
  background-color: #f5f5f5;
  color: #222222;
  padding-top: 75px;
  background-size: cover;
  position: relative;
  margin-bottom: 0 !important;
  border-bottom: 1px solid #e1e1e1;
}
.blog-quickview h2{
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}
.blog-quickview p{
  margin-bottom: 30px;
  color: #666;
  line-height: 24px;
}
.blog-quickview img{
  border-radius: 20px 20px 5px 5px;
}
.blog-quickview::before, .blog-quickview::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background: #e1e1e1;
  top: 0;
}
.block_shop img:hover{
  box-shadow: 0px 40px 60px -40px rgb(0 0 0 / 20%);
}
.blog-quickview .shadow img{
  box-shadow: 0px 40px 60px -40px rgb(0 0 0 / 20%);
  -webkit-shadow: 0px 40px 60px -40px rgb(0 0 0 / 20%);
  -moz-shadow: 0px 40px 60px -40px rgb(0 0 0 / 20%);
}
.blog-quickview::before{
  left: calc(100% / 3);
}
.blog-quickview::after{
  right: calc(100% / 3);
}
.blog-other{
  background: url("../images/bg-blog-other.jpg") center center no-repeat;
  color: #fff;
  padding-top: 100px;
  background-size: cover;
  position: relative;
  padding-bottom: 87px !important;
}
.demo{
  padding-bottom: 100px;
}
.block_header_footer h2{
  margin-top: 4px;
}
.demo.elementor h5{
  color: #15bcdc;
}
.demo.elementor{
  background: url("../images/bg-elementor.jpg") top center no-repeat;
  background-size: cover;
  padding-bottom: 140px;
  padding-top: 135px;
  color: #222;
  background-color: #f6f7f9;
}
.demo.elementor h2{
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 25px;
}

.demo.elementor .images{
  position: relative;
  margin-top: 13px;
}
.demo.elementor .image1{
  position: absolute;
  text-align: center;
  bottom: -2%;
  z-index: 9;
  left: 0;
}
.demo.elementor .content{
  text-align: left;
  padding-left: 30px;
  margin-top: 100px;
}
.demo.elementor .image2{
  position: absolute;
  left: -10%;
  z-index: 4;
  bottom: 28%;
}
.demo.elementor .image4{
  bottom: 10%;
  position: absolute;
  left: 42%;
  right: 0;
}
.blog-other h2{
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 25px;
}
.blog-other p{
  max-width: 50%;
  margin : 0 auto;
  line-height: 30px;
}
.demo__content img {
  width: 100%;
  border-radius: 20px;
}
.demo .info {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.demo .info span {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: auto;
  padding: 12px 30px;
  text-transform: uppercase;
  font-family: 'poppinssemibold';
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
}
.demo.home{
  padding-bottom: 4px;
  background-color: #f6f7f9;
}
.demo h3 {
  margin-top: 0;
}
.demo h3 a {
  color: #222;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  text-transform: capitalize;
  line-height: 1.5;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
      white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
}
.demo a label{
    position: absolute;
    top: -25px;
    right: 50px;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    border-radius: 50%;
    background: #06f;
    font-weight: 500;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.align-center{
  align-items: center !important;
}
.demo a label:not(.new-label){
  background: red;
}
.demo h3 a:before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #222222;
    left: 0;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.demo.block_product h3 a:before{
  background: #fff;
}
p{
  font-weight: 400 !important;
}
.block_shop img, .block_product img{
  border-radius: 30px;
}

.block_shop img{
  border: 1px solid #ebebeb;
}
.demo .item:hover h3 a:before{
    width: 100%;
    right: 0;
}
.pd-80{
  padding: 0 80px !important;
}
.demo .row > div:hover h3 a:before {
    width: 100%;
    right: 0;
}
.demo .info span:hover {
  background-color: #fff;
  color: #222;
}
.key-features {
  background-color: #EEEEEE;
  padding: 100px 0;
}
.key-features h2 {
  position: relative;
  margin-bottom: 40px;
  display: inline-block;
  padding: 0 50px 15px;
}
.key-features h2:before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #DDDDDD;
  position: absolute;
  bottom: 0;
  left: 0;
}
.key-features h2:after {
  content: '';
  width: 110px;
  height: 3px;
  left: 50%;
  margin-left: -55px;
  bottom: -1px;
  position: absolute;
  background-color: #222;
}
.key-features .col-md-4 {
  margin-bottom: 50px;
}
.key-features .col-md-4 img {
  margin-bottom: 20px;
}
.key-features h3 {
  color: #666666;
}
.saved-plugins {
  padding: 100px 0;
}
.saved-plugins img {
  padding: 0 20px;
}
.saved-plugins h2 span {
  color: #D80000;
}
.saved-plugins h2 {
  position: relative;
  margin-bottom: 40px;
  display: inline-block;
  padding: 0 50px 15px;
}
.saved-plugins h2:before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #DDDDDD;
  position: absolute;
  bottom: 0;
  left: 0;
}
.saved-plugins h2:after {
  content: '';
  width: 110px;
  height: 3px;
  left: 50%;
  margin-left: -55px;
  bottom: -1px;
  position: absolute;
  background-color: #222;
}
.color-scheme {
  margin-bottom: 50px;
}
.color-scheme h2 {
  margin-bottom: 40px;
}
.color-scheme img {
  border: 10px solid #EEEEEE;
}
.bottom {
  margin-top: 135px;
  min-height: 200px;
  position: relative;
}
.block_product{
  background: url(../images/bg-product.png) center center no-repeat;
  background-size: cover;
  color: #fff;
}
.block_product h3 a{
  color: #fff;
  margin-top: 40px;
}
.block_shop h3 a{
  margin-top: 40px;
}
.demo.block_shop{
  background-color: #f9f9f9;
}
.block_mobile{
    background: url(../images/bg-block-mobile.jpg) center center no-repeat;
    background-size: cover;
    color: #fff;
    padding-bottom: 84px !important;
}
.block_mobile h2, .block_product h2, .block_shop h2{
    text-transform: capitalize;
    margin-top: 95px;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 26px;
}
.block_mobile_header, .block_product_header,  .block_shop_header{
    margin-bottom: 45px;
}
.bottom__content {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #222;
}
.bottom__content h2 {
  font-size: 48px;
  font-weight: 500;
  text-transform: none;
  color: #333d47;
  margin-bottom: 15px;
}
.bottom__content a {
  border: 2px solid #df0e0e;
  background-color: #df0e0e;
  color: #fff;
  padding: 15px 75px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  margin-top: 50px;
  font-weight: 500;
  border-radius: 3px;
}
.bottom__content a:hover {
  -webkit-animation-name: hvr-wobble-horizontal;
  animation-name: hvr-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  color: #fff;
}
.footer {
  background: url("../images/background-footer.jpg") center center no-repeat;
  font-size: 14px;
  color: #fff;
  padding: 100px 0;
  font-weight: 500;
  background-size: cover;
}
.footer .items .content{
    text-align: left;
}
.footer .items .content .title{
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 1;
}
.footer .items .content a{
    text-decoration: underline;
    color: #fff;
}
.footer .items .content p{
    margin-bottom: 22px;
    line-height: 24px;
}
.footer .items .item{
    display: flex;
}
.footer .items .item .icon{
    flex: 0 0 55px;
    width: 55px;
    margin-right: 30px;
}
.footer .footer__footer .content-footer {
    text-align: center;
    color: #fff;
    line-height: 1.3333;
}

.footer .footer__footer{
    border-top: 1px solid rgba( 255, 255, 255, 0.2 );
    margin-top: 100px;
    padding-top: 90px;
}
.copyright{
  font-weight: 400;
}
.copyright a{
    color: #fff;
}
.copyright a:hover{
  color: #fff;
}
.footer .footer__footer .content-footer .title-footer {
    font-size: 36px;
    margin-bottom: 35px;
    line-height: 48px;
    font-weight: 400;
}

.purchase__bottom {
    padding: 19px 0;
    margin-bottom: 35px;
}
.style-product .item{
    padding: 57px 40px 60px;
}
.style-product .item.seo{
    background-color: #e8f5ec;
}

.style-product .item.product{
    background-color: #f7ecec;
}
.style-product .item.color{
    background-color: #e8edf5;
}
.style-product .item.search, .style-product .item.cart{
    margin-top: 30px;
    background-color: #f6f6f6;
}
.style-product .item.search .header-item, .style-product .item.cart .header-item{
    max-width: 70%;
    margin: 0 auto;
}
.style-product .header-item{
    margin-bottom: 30px !important;
}
.style-product .item img{
    border-radius: 5px;
}
.style-product .item .header-item p{
    font-size: 14px;
    line-height: 24px;
}
.style-product .item .header-item h3{
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 15px;
    font-weight: 400;
}

.demo.style-product{
    background-color: #fff !important;
    padding-top: 120px;
}

/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
.bg-top {
  background: url("../images/homess_slide_2.jpg?v=1555") center center no-repeat;
  position: relative;
  color: #222;
  background-size: cover;
  padding-top: 66px;
  padding-bottom: 90px;
}
.header h2 {
  font-size: 36px;
  font-weight: 500;
}
.header__text {
  padding: 0;
}
.header__text .left-column img{
  max-width: 280px;
  margin-bottom: 22px;
}

.header__text .bg_header_animation{
    position: absolute;
    left: 50%;
    top: 93px;
    border: 0;
    transform: translateX( -50%);
    -webkit-transform: translateX( -50%);
    -o-transform: translateX( -50%);
    -ms-transform: translateX( -50%);
}
.descript-header p{
  margin: 0;
  line-height: 60px;
  color: #fff;
}

.descript-header{
  background-color: #273c97;
}
.descript-header p span{
  color: #15bcdc;
  text-transform: uppercase;
  font-weight: 500;
}
.header__text_bottom {
  text-align: center;
  margin-top: 43px;
}
a.header__text_bottom{
  margin-top: 30px;
}
.header__text_bottom a, a.header__text_bottom  {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  border-radius: 0px;
  box-shadow: none;
  color: #fff;
  display: inline-block;
  background-color: #15bcdc;
  font-weight: 500;
  padding: 19px 42px;
  max-width: 290px;
  text-align: center;
  line-height: 1;
  text-shadow: none;
  text-transform: capitalize;
  white-space: nowrap;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 30px;
  box-shadow: 0px 15px 30px 0px rgba(13, 162, 191, 0.3);
  -webkit-box-shadow: 0px 15px 30px 0px rgba(13, 162, 191, 0.3);
  -ms-box-shadow: 0px 15px 30px 0px rgba(13, 162, 191, 0.3);
  -o-box-shadow: 0px 15px 30px 0px rgba(13, 162, 191, 0.3);

}
.header__text_bottom a:hover ,  a.header__text_bottom:hover{
  -webkit-animation-name: hvr-wobble-horizontal;
  animation-name: hvr-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  color: #fff;
  background-color: #14a8c5;
}
.left-column h4{
  margin-bottom: 24px;
  display: block;
}
.left-column .logo{
      position: relative;
      display: block;
    margin: auto;
}
@media screen and (min-width: 1024px){
  [data-aos][data-aos][data-aos-easing=ease-in-out-sine], 
  body[data-aos-easing=ease-in-out-sine] .header__text [data-aos]{
    transition-timing-function: ease;
    transition-duration: 1s;
  }
  .left-column h2{
    transition-delay: 0.2s;
  }
  .left-column p{
    transition-delay: 0.6s;
  }
  .left-column .header__text_bottom{
    transition-delay: 1s;
  }
  .header__text .images{
    display: flex;
    max-width: 1080px;
    margin-left: auto;
    position: relative;
    align-items: flex-end;
  }
  .header__text .images .image-bottom{
        margin-left: 3.5%;
        transition-delay: 1s;
  }
  .image-right{
    transition-delay: 0.8s;
    position: absolute;
    right: 0;
    top: 0;
  }
  .image-right img{
   transform: translateY(-46%);
   -webkit-transform: translateY(-46%);
   -o-transform: translateY(-46%);
   -ms-transform: translateY(-46%);
   z-index: 1;
  }
  .image-topp{
    position: absolute;
    top: 0;
    left: 60%;
    z-index: 5;
    transition-delay: 0.4s;
  }
  .image-topp img{
   transform: translateY(-64%);
   -webkit-transform: translateY(-64%);
   -o-transform: translateY(-64%);
   -ms-transform: translateY(-64%);
  }
}
[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos]{
    transition-timing-function: ease;
    transition-duration: 0.8s;
  }
@-webkit-keyframes ripple{
   0%{
      opacity: 1;
        -webkit-transform:scale(0.5);
        transform:scale(0.5)
    }
    100%{
        opacity: 0;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
@keyframes ripple{
    0%{
      opacity: 1;
        -webkit-transform:scale(0.5);
        transform:scale(0.5)
    }
    100%{
        opacity: 0;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
.price-animation{
  position: absolute;
  top: 0;
  transform: translate(-50%,-100%);
  -webkit-transform: translate(-50%,-100%);
  -o-transform: translate(-50%,-100%);
  -ms-transform: translate(-50%,-100%);
  left: 50%;
  padding-bottom: 30px;
  padding-right: 20px;
}
.price-animation .border{
  position: relative;
  padding: 12px;
}
.price-animation .border:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 22;
    background-color: #d62325;
    opacity: 0.4;
    border-radius: 50%;
     border-radius:100px;
    -webkit-animation: ripple 1.65s infinite;
    animation: ripple 1.5s infinite
}
.price-animation .border.border-first:after{
  opacity: 0.2;
}
.price-animation .border.border-second:after{
  opacity: 0.3;
}
.price-animation .value{
  width: 98px;
  height: 98px;
  background-color: #d62325;
  border-radius: 50%;
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  line-height: 98px;
  position: relative;
  z-index: 222;
}
.price-animation .value span{
  width: 100%;
  height: 13px;
  display: block;
  background: url(../images/background-price.png) center center no-repeat;
  background-size: contain;
  position: absolute;
  left: 4px;
  bottom: 50%;
  transform: translateY(calc(150% + 6px) );
  -webkit-transform: translateY(calc(150% + 6px) );
  -ms-transform: translateY(calc(150% + 6px) );
  -o-transform: translateY(calc(150% + 6px) );
}
@media screen and (max-width: 992px) {
  .demo.elementor.import .flex-layout{
    display: block !important;
  }
  .demo.style-product .container .row:first-child >div:not(:last-child){
    margin-bottom: 30px;
  }
  .footer-main .container .items >div:not(:last-child){
    margin-bottom: 50px;
  }
  .footer .footer__footer .content-footer .title-footer{
    font-size: 30px;
  }
  .block_mobile h2, .block_product h2, .block_shop h2{
    margin-top: 70px;
  }
}
.header__text p {
  color: #222;
  font-size: 16px;
  text-align: center;
  text-transform: none;
  line-height: 30px;
}
.header__text h6 {
  font-size: 14px;
}

.content-text.content-text-home {
  padding: 78px 0 40px 0;
  margin-bottom: 0;
  
}
.content-text{
  margin-bottom: 40px;
}
.content-text h2 {
  font-size: 30px;
  margin-bottom: 30px;
  text-transform: capitalize;
}
.content-text p {
  width: 63%;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 500;
}
.bottom__content p {
  font-size: 18px;
  color: #333d47;
  font-weight: 500;
}
.Reviews{
    background: url("../images/background-review.jpg") center center no-repeat;
    background-size: cover;
    padding: 87px 0 107px 0;
}
.Reviews h4 {
  font-size: 14px;
  text-transform: capitalize;
  margin: 29px 0 4px 0;
  color: #fff;
}
.Reviews h5{
    font-size: 14px;
    margin-bottom: 5px;
    color: #fff;
    text-transform: uppercase;
}
.Reviews .content-text p{
    color: #999999;
}
.Reviews .content-text h2{
    color: #ffffff;
    font-size: 30px;
    margin-top: 10px;
}
.Reviews .list-item-review p {
  line-height: 24px;
  color: #999999;
  margin: 30px auto 35px;
  padding: 0 30px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-style: normal;
} 
.Reviews .list-item-review .author p{
  display: block;
  min-height: 1px;
  margin: 0;
  line-height: 1.6;
}
.Reviews .p-text{
  margin: 0;
}
.col-text{
  background: #252525;
  padding: 60px 0; 
  border-radius: 0 20% 0 20%;
  border: 1px solid #333333;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.col-text img{
    width: auto !important;
}
.our-items{
  margin-top: 0;
}
.our-items .owl-wrapper-outer{
  margin-bottom: 0 !important;
}
.our-items .owl-theme .owl-controls .owl-page{
  margin-top: 15px;
}
.demo.Plugins{
    margin-top: 120px;
}
.demo.Plugins ul li{
  display: inline-block;
  padding: 0 25px;
}
.demo.Plugins ul li span{
  display: block;
    color: #666;
    margin-top: 30px;
    margin-right: 10px;
}
.demo.Plugins .bottom {
  margin-top: 100px;
  min-height: 150px;
}
.demo.Plugins .bottom a {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    border: none;
    border-radius: 0px;
    box-shadow: none;
    color: #fff;
    display: inline-block;
    background-color: #df0e0e;
    border: 2px solid #df0e0e;
    font-weight: normal;
    padding: 19px 70px;
    text-align: center;
    line-height: 1;
    text-shadow: none;
    text-transform: capitalize;
    white-space: nowrap;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 30px;
}



/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Sidebar
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
body {
  color: #000000;
  line-height: 24px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -1px;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 20px;
}
/*# sourceMappingURL=main.css.map */
@media only screen and (max-width: 1440px){
  .pd-80{
    padding: 0 40px !important;
  }
}
@media only screen and (max-width: 1024px) {
  .blog-quickview::before, .blog-quickview::after{
    content: none;
  }
  .header-menu {
    padding: 40px 20px 20px 20px !important;
  }
}
@media only screen and (max-width: 910px) {
  .header-menu .col-xs-12 .logo {
    margin-bottom: 30px;
  }
  .header-menu .col-xs-12 {
    width: 100% !important;
    text-align: center !important;
  }
  .header__text {
    padding: 30px 0 0;
  }
  .header__text_bottom,
  .bottom {
    margin-top: 30px;
  }
/*  .footer {
    margin-top: 90px;
  }*/
  .header__text h2 {
    line-height: 60px;
  }
  .demo.shop .text, .demo.product .text{
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .nav-menu .list-inline li.last {
    margin-top: 30px;
  }
  .desktop{
    padding-right: 20px;
  }
  .blog-other p{
    max-width: 100%;
  }
  .style-product .item.search .header-item, .style-product .item.cart .header-item{
    max-width: 100%;
  }

  
  .demo.elementor .image2{
    left: 0;
    width: 50%;
  }
  .demo.elementor .image3{
    width: 80%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 480px) {
  .demo, .contents-owl {
    padding: 50px 0 !important;
  }
  .left-column .logo{
    left: 0;
  }
  .container {
    max-width: 100%;
  }
  .header__text h2,
  .bottom__content h2 {
    font-size: 30px;
    line-height: 30px;
  }
  .nav-menu .list-inline li {
    padding: 0 5px;
  }
  .nav-menu .list-inline li.last a {
    padding: 15px 15px !important;
  }
  .demo h3 a {
    padding: 0 15px !important;
  }
  .content-text.content-text-home{
    padding: 50px 0;
  }
  .demo.shop, .demo.product, .demo.feauter{
    padding-top: 50px;
  }
}
@media only screen and (max-width: 991px) {
  .demo.elementor .content{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .padding-mobile{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .container{
    width: 100% !important;
   
  }
  .header__text h2{
    white-space: unset;
    animation: none;
    border-right: 0;
  }
  .left-column{
     margin-bottom: 50px;
  }
  .left-column *{
    text-align: center !important;
   
  }
  .container.demo-home{
    margin-top: 0;
  }
  .col-home{
    padding-bottom: 60px !important;
   }
  .header .container{
     max-width: 95%;
     margin: auto;
  }
  .header__text .images{
    display: flex;
    align-items: flex-end;
    position: relative;
  }
  .price-animation{
    padding: 0;
    transform: none;
    left: 0;
    top: -30px;
  }
  .price-animation .value{
    width: 58px;
    height: 58px;
    line-height: 58px;
    font-size: 20px;
  }
  .price-animation .value span{
    background-size: 65%;
    transform: translateY(calc(150% ) );
  }
  .content-text p{
    width: 100%;
  }
 
}
.feauter .col-md-3 {
  display: table;
  min-height: 126px;
  margin-bottom: 30px;
}
.product-text {
  border-radius: 20px;
  display: table-cell;
  vertical-align: middle;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  background: #f7f8f9;
  padding: 0 20px;
  cursor: pointer;
}
.product-text h5 {
  text-transform: capitalize;
  font-weight: 500;
  color: #222222;
  margin-top: 30px;
  margin-bottom: 23px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.product-text p{
    line-height: 24px;
    margin: 0;
}
.product-text:hover img{
    -webkit-animation-name: hvr-wobble-horizontal;
    animation-name: hvr-wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    color: #fff;
}
.new {
  color: #fff;
  text-transform: uppercase;
  transform: rotate(90deg);
  z-index: 2;
  background: #e13e3e;
  position: absolute;
  top: 15px;
  right: 30px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  display: inline-block;
  padding: 0 15px;
  height: 28px;
  line-height: 28px;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
}
.new:before {
  border: 5px solid #e13e3e;
  border-color: transparent transparent #e13e3e #e13e3e;
  border-width: 9px 5px;
  position: absolute;
  right: -9px;
  bottom: 0;
  content: '';
}
.new:after {
  border: 5px solid #e13e3e;
  border-color: #e13e3e transparent transparent #e13e3e;
  border-width: 9px 5px;
  position: absolute;
  right: -9px;
  top: 0;
  content: '';
}
@media (max-width: 1199px){
  .style-product .item.search .header-item, .style-product .item.cart .header-item{
    max-width: 100%;
  }
  .demo.elementor .content{
    padding-left: 15px;
  }
}

@media (max-width: 1199px) and (min-width: 767px){
  .demo.elementor .images img{
    max-width: 70%;
  }
  .demo h3 a{
    padding: 0 15px;
  }
  .demo.product .demo__content{
    height: 200px;
    background-size: 100%;
  }
}
@keyframes morphing {
    0% {
      border-radius 30% 70% 70% 30% / 30% 30% 70% 70%
      box-shadow 15px 15px 50px rgba(0,0,0,0.2)
    }
    25% { 
      border-radius 58% 42% 75% 25% / 76% 46% 54% 24%
    }
    50% {
      border-radius 50% 50% 33% 67% / 55% 27% 73% 45%
      box-shadow -10px -5px 50px rgba(0,0,0,0.2)
    }
    75% {
      border-radius 33% 67% 58% 42% / 63% 68% 32% 37%   
    }
  }
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #fff }
}
@keyframes tracking-in-contract {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@media screen and ( min-width: 1400px ){
  .demo.product .demo__content{
    height: 380px;
  }
  .demo.shop .demo__content{
    height: 380px;
  }
}
/* Css tab */
#nav-tabs-wrapper{
	padding: 0;
	border: 0;
	background: transparent;
    box-shadow: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 70px;
}
.flex-layout{
  display: flex;
}
.flex-pc-mobile{
  align-items: flex-end;
  justify-content: space-evenly;
}
#nav-tabs-wrapper li{
	margin: 0 5px;
}

#nav-tabs-wrapper li a{
    transition: 0.3s;
	display: block;
	font-weight: 500;
	font-size: 14px;
	color: #222;
	text-transform: capitalize;
	position: relative;
	letter-spacing: -0.5px;
	margin: 0;
  background-color: #fff;
    border: 1px solid #dfe2f1;
  border-radius: 3px;
  padding: 9px 40px;
  margin-bottom: 10px;
}
#nav-tabs-wrapper li.active a,
#nav-tabs-wrapper li:hover a{
  background-color: #ff9400;
  border-color: #ff9400;
  color: #fff;
}
#nav-tabs-wrapper li.active a span,
#nav-tabs-wrapper li:hover a span{
  color: #fff;
}
#nav-tabs-wrapper li a span{
	color: #ff9400;
	font-size: 12px;
	position: relative;
	right: -4px;
	top: -4px;
  font-weight: 500;
}
.tab-panel{
	display: none;
}
.tab-panel.active{
	display: block;
}
.main-header{
  background-color: #222222;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 55px 0;
}
.main-header h3{
  color: #f7f8f9;
  text-transform: capitalize;
  font-weight: 500;
  margin-top: 7px;
  margin-bottom: 22px;
}
.main-header p{
  color: #999999;
  margin: 0;
  font-size: 14px;
}
.main-header .content{
  padding: 0 50px;
}
.container-fluid{
  max-width: 1800px;
}
.owl-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}
.owl-carousel button.owl-dot{
  outline: none;
}

.owl-dots .owl-dot span {
    display: flex;
    margin: 60px 10px 0;
    width: 8px;
    height: 8px;
    background-color: rgba( 255, 255, 255, 0.1 );
    border-radius: 100%;
    border: 2px solid transparent;
    outline: none;
}

.owl-dots .owl-dot.active span {
    position: relative;
}

.owl-dots .owl-dot.active span::before {
    content: "";
    width: 14px;
    height: 14px;
    background-color: transparent;
    border-radius: 100%;
    border: 2px solid #fff;
    position: absolute;
    left: -5px;
    top: -5px;
}
.block_shop .owl-dots .owl-dot span{
  background-color: #e1e1e1;
}
.block_shop .owl-dots .owl-dot.active span, .block_product .owl-dots .owl-dot.active span{
  background-color: transparent;
}
.block_shop .owl-dots .owl-dot.active span::before, .block_product .owl-dots .owl-dot.active span::before{
  border-color: #f67d5e;
}
@media (max-width: 767px) {
  .descript-header p{
    line-height: 2;
    padding: 20px 15px;
  }
  .padding-mobile-quick{
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
  .demo.elementor .image1, .demo.elementor .image2{
    max-width: 50%;
  }
  .demo.elementor .image2{
    bottom: 20%;
  }
  .style-product .item{
    padding-left: 20px;
    padding-right: 20px;
  }
  .block_mobile h2, .block_product h2, .block_shop h2{
    font-size: 30px;
  }
  .content-text{
    margin-bottom: 50px;
  }
  .owl-dots .owl-dot span{
    margin-top: 30px;
  }
  .footer{
    padding: 80px 0;
  }
  .footer .footer__footer{
    padding-top: 80px;
    padding-bottom: 0;
  }
  .block_mobile h2, .block_product h2, .block_shop h2{
    margin-top: 40px;
  }
  .demo .content-text h2,.demo.elementor h2,.blog-other h2{
    font-size: 36px;
  }
  .hidden-xs {
    display: none !important;
  }
  br{
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .demo.elementor .content{
    margin-top: 20px;
  }
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
@media (min-width: 1200px){
  .container.demo-home .col-md-4{
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
}
